# git-as-svn support gitignore has some limitation
# Not support masks that contains special patterns  (],[,?,!,**)
# Not support pathes with / at the end for global ignores (like .vs/) but it works as well with pathes from root (like /Client/.vs/)
# Pattern /foo/* supported but it has some problem for svn users because the folder foo will be unversioned (better using /foo/ instead)

*.user
*.pyc
*.backup
*.bak
*.ue4text
*.COPY
.gitcentral

.git
.svn
.idea
.vs
_ReSharper.Caches

Binaries
Intermediate

/proJectN1/Intermediate/CachedAssetRegistry_0.bin
/proJectN1/Saved/
/proJectN1/Test/
/proJectN1/Build/

# Generated configs
/proJectN1/Config/Generated*
/proJectN1/Config/IOS/Generated*
/proJectN1/Config/PS4/Generated*
/proJectN1/Config/PS5/Generated*
/proJectN1/Config/Windows/Generated*
/proJectN1/Config/XB1/Generated*
/proJectN1/Config/XSX/Generated*

proJectN1/Config/HoloLens/HoloLensEngine.ini
